.header {
  .site-topbar {
    background-color: @black;
    color: @white;

    .container {
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      a {
        color: @white;
        display: inline-block;
        line-height: 40px;
        margin: 0px 15px;
      }

      .topbar-nav {
        display: flex;

      }

      .site-user {
        display: flex;
      }
    }
  }
}